// <МИКСИНЫ>=========================================================================================================================================================================================================================================================================

@import 'mixin';

// </МИКСИНЫ>=========================================================================================================================================================================================================================================================================

// <ШРИФТЫ>=========================================================================================================================================================================================================================================================================

// <Подключаем шрифты>=========================================================================================================================================================================================================================================================================



// </Подключаем шрифты>=========================================================================================================================================================================================================================================================================

// <Шрифт по умолчанию>=========================================================================================================================================================================================================================================================================



// </Шрифт по умолчанию>=========================================================================================================================================================================================================================================================================

// </ШРИФТЫ>=========================================================================================================================================================================================================================================================================

// <ПЕРЕМЕННЫЕ>=========================================================================================================================================================================================================================================================================

$minWidth: 320px;

// </ПЕРЕМЕННЫЕ>=========================================================================================================================================================================================================================================================================

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=========================================================================================================================================================================================================================================================================

@import 'null';

// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=========================================================================================================================================================================================================================================================================

// <ОБОЛОЧКА>=========================================================================================================================================================================================================================================================================

// </ОБОЛОЧКА>=========================================================================================================================================================================================================================================================================

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================================================================================================================================================================================================================================

@import 'library-vars';
@import 'vars';
@import 'fonts';
@import 'ui';
@import 'header';
@import 'footer';

// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================================================================================================================================================================================================================================


//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//
//                                                    <ОСНОВНОЙ БЛОК>
//
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
label {
    display: block;
    font-size: 30px;
}
input {
    width: 300px;
    height: 50px;
    font-size: 30px;
    border: 1px solid #000;
}






//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// 
//
//                                                    </ОСНОВНОЙ БЛОК>
//
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

@import 'media';